# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/

# Database files
instance/*.db

# Environment variables
.env
*.txt

# Logs
*.log

# IDE or editor folders
.vscode/
.idea/
*.swp