{% extends 'base.html' %}
{% block title %} Shivashish | Sign Up {% endblock %}
{% block content %}
<div>

    <form id="signup" action="{{ url_for('signup') }}" method="POST" class="needs-validation login-signup-form">

        {{ form.hidden_tag() }}

        <div class="mb-4">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", autocomplete="name") }}
        </div>

        <div class="mb-4">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", autocomplete="email") }}
        </div>

        <div class="mb-4">
            {{ form.password.label(class="form-label")}}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-4">
            {{ form.confirm_password.label(class="form-label")}}
            {{ form.confirm_password(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-success login-signup-button">Register</button>
    </form>
</div>
{% endblock %}